<!doctype html>
<html lang="en">
<style>
.containers {
  font-family: arial;
  font-size: 13px;
  margin: 80px;
  width: -150px;
  height: 100px;
  margin-top:-10px;
 
}


</style>

  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet"/>
    

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">


    
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- Style -->



    <title>Almosafer</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <p><img src="/static/images/undraw-contact.svg" alt="Image" class="img-fluid"></p>
      

            </div>

            <div class="containers">
           
                     
                  {{table_data | safe}}
          

          </div>
         
            
          </div>
        </div>
      </div>
    </div>

  </div>
    
    

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
   
  </body>
</html>
